

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>Welcome to the About Page</h1>
                    <h2>About Me</h2>
                    <p>Hello! My name is Maya Clarke, and I am a student at Seneca Polytechnic. I am  enrolled in the Business 
                    Information Technology program. My student ID is 107776247.</p>
					

					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

	