
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					
                    <h1 class="mt-4">Welcome to my website!</h1>
                    <p class="lead">I will be demonstrating HTML5 principles and techniques, as well as Routing in Express.</p>

                    <h2 class="mt-4">Website Overview</h2>
                    <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including:</p>
                    <ul>
                        <li><a href="/students">All Students</a></li>
                        <li><a href="/students?course=6">Students by Course</a></li>
                        <li><a href="/student/256">A Single Student By Student Number</a></li>
                        <li><a href="/tas">All Managers</a></li>
                        <li><a href="/courses">All Courses</a></li>
                    </ul>

                    <h2 class="mt-4">Introduction to HTML5</h2>
                    <p>HTML5 is a markup language used for structuring and presenting content on the Web. It introduces new semantic elements, 
                    improved form controls, and better multimedia handling, making it a powerful tool for modern web development.</p>

            	
                    <!-- End your code here  -->



				</main>
			</div>
		</div>

		